<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <script type="module" src="https://10ax.online.tableau.com/javascripts/api/tableau.embedding.3.latest.js"></script>
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="ui padded grid relaxed">
      <div id="doc" class="column auto">
        <div class="doc-overview">
          <h2 class="ui dividing header" data-se="overview-doc-header">
            {{! Tableau Embedded Dashboard }}
            Hello, {{userinfo.name}}!
          </h2>
        </div>            
        
        <tableau-viz id="tableauViz" src="{{viz_url}}"
          toolbar="hidden" hide-tabs
          token="{{access_token}}" > 
        </tableau-viz>
      
      </div>
    </div>
  </body>
</html>
